@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}
body{ 
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--font-noto-sans);
    
}
:root{
    --background: #1a1a2e;
    --text-color: #FFFFFF;
    --primary: #3A86FF;
    --secondary: rgb(164, 94, 229);
    --column: 90px;
}
h1{
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 24px;
}
h2{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 18px;
}
h3{
    font-size: 36px;
    line-height: 120%;
}
ul{
    list-style-type: none;
}
.subheader{
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 16px;
}
.paragraph{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0px;
}
.small-text{
    font-size: 14px;
    line-height: 24px;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1080px;
    padding: 0 1rem;
}
.header{
    font-size: 32px;
}
.list-mobile{
    display: none;
    position:fixed;
    top: 0;
    right: 0;
    width: 66.66%;
    height: 100vh;
    background-color: var(--background);
    z-index: 1;
    padding: 4rem 1rem;
}
.vertical-line{
    width: 2px;
    height: 420px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--secondary) 62%, var(--primary) 100%);
    margin: 0 auto;
}
.background{
    position: relative;
    left: auto;
    right: auto;
    width: 252px;
    height: 443px;
}
.background-pat{
    position: absolute;
    top: -350px;
    width: 252px;
    height: 793px;
}
.portrait{
   width: 540px;
    max-height: 540px;
}
.button{
    font-size: 20px;
    padding: 8px;
    width: 225px;
    border-radius: 56px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5%;
    font-weight: bold;
    
}
.button:hover{
    box-shadow: 0 0 20px rgba(58, 134, 255, 0.5);
}
.primary{
    background-color: var(--primary);
    color: var(--text-color);
}
.secondary{
    border: 4px solid var(--secondary);
}
.project-button{
    display: flex;
    gap: 0.25rem;
    background-color: var(--primary);
    color: var(--text-color);
    widtH: 8rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}   
.contact-block{
    width: 100%;
    height: 300px;
    background: linear-gradient(135deg, #1A72FF, #9131E9);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-block button{
    background-color: #1A1A2E;
}
.footer-line{
    width: 100%;
    height: 18px;
    background: linear-gradient(90deg, #1A72FF, #9131E9);
}
@media screen and (max-width: 1024px) {
    .container{
        padding: 0 4rem;
    }
    .background{
        display: none;
    }
    .project-button{
        width: 62.5%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 768px) {
    .container{
        padding: 0 1rem;
    }
    h1{
        font-size: 48px;
        line-height: 48px;
    }
    h2{
        font-size: 36px;
        line-height: 36px;
    }
    h3{
        font-size: 24px;
        line-height: 150%;
    }
    .subheader{
        font-size: 20px;
        line-height: 32px;
    }
    .paragraph{
        font-size: 16px;
        line-height: 24px;
    }
    .small-text{
        font-size: 12px;
        line-height: 24px;
    }
    .secondary{
        display: none;  
    }
}